.l-wrapper
	.l-grid
		.l-grid__item.l-grid__item--sticky
			.c-card
				.c-card__body
					.u-text--center#winner
		.l-grid__item
			.c-card
				.c-card__header
					h3 Received Kudos
					select.c-select
						option(selected) Sunday, Feb. 23 - Sunday, Feb. 30
				.c-card__body
					ul.c-list#list
						li.c-list__item
							.c-list__grid
								.u-text--left.u-text--small.u-text--medium Rank
								.u-text--left.u-text--small.u-text--medium Team Member
								.u-text--right.u-text--small.u-text--medium # of Kudos
